@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fcfcfc;
  }
}

.prose a:hover {
  opacity: 0.7;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-400 dark:text-gray-400;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

[class='dark'] [data-hide-on-theme='dark'],
[class='light'] [data-hide-on-theme='light'] {
  display: none;
}

.photos-grid {
  display: flex;
  margin-left: -20px;
  width: auto;
}

.photos-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

.photos-grid_column > div {
  display: flex;
  margin-bottom: 20px;
}